In [43]:
for i in range(5):
    print(i)

0
1
2
3
4

In [44]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [45]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [46]:
for i in (range(10,0, -1)):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [47]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is not even")

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even

In [48]:
for i in range(3, 30, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [49]:
for i in range (1, 11, 2):
    print(i)

1
3
5
7
9

In [50]:
for i in range(1, 11):
    if i ==7 :
        print("found")
    else:
        print(i)

1
2
3
4
5
6
found
8
9
10

In [51]:
for i in range(1, 11):
    if i ==7:
        break;
print(i)

7

In [52]:
total =0
for i in range(1, 6):
    total = total+i
    print(total)

1
3
6
10
15

In [53]:
count = 0
for i in range(1, 51):
    if i % 2 == 0:
       count += 1
print(count)

25

In [ ]:
num = input("enter first number: ")
for i in range(1, int(num) + 1):
    print(i)

In [ ]:
num1 = input("enter first number: ")
num2 = input("enter second number: ")
for i in range(int(num1), int(num2)+1):
    print(i)

5
6
7
8
9
10

In [ ]:
count = 0
for i in range(1, 51):
    if i % 2 == 0:
        count += 1
print(count)

25

In [ ]:
n = input("Enter a number: ")
for i in range(1, 11):
    if i % 2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is not even")

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even

In [ ]:
for i in range(0, 80):
    print(i)
    if i == 3:
        break

0
1
2
3

In [ ]:
for i in range(4):
    print("printing")
    if i == 2:
        continue
    print(i)

printing
0
printing
1
printing
printing
3

In [ ]:
l = (1, 2, 4, 5)
for item in l:
    pass

In [ ]:
num = int(input("Enter a number: "))
for i in range(5, 50):
    print(num, " x ", i, " = ", num * i)

5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
5  x  11  =  55
5  x  12  =  60
5  x  13  =  65
5  x  14  =  70
5  x  15  =  75
5  x  16  =  80
5  x  17  =  85
5  x  18  =  90
5  x  19  =  95
5  x  20  =  100
5  x  21  =  105
5  x  22  =  110
5  x  23  =  115
5  x  24  =  120
5  x  25  =  125
5  x  26  =  130
5  x  27  =  135
5  x  28  =  140
5  x  29  =  145
5  x  30  =  150
5  x  31  =  155
5  x  32  =  160
5  x  33  =  165
5  x  34  =  170
5  x  35  =  175
5  x  36  =  180
5  x  37  =  185
5  x  38  =  190
5  x  39  =  195
5  x  40  =  200
5  x  41  =  205
5  x  42  =  210
5  x  43  =  215
5  x  44  =  220
5  x  45  =  225
5  x  46  =  230
5  x  47  =  235
5  x  48  =  240
5  x  49  =  245

In [ ]:
for i in range(3, 30, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [ ]:
l = {"harish", "harsha", "siri", "kiran", "suchi"}
for name in l:
    if name.startswith("s"):
        print("done with s", name)

done with s siri
done with s suchi

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Not a prime number

In [ ]:
sum = 0
for i in range(1, 11):
    sum = sum + i
print(sum)

55

In [ ]:
sum = 0
x = int(input("Enter a number: "))
for i in range(1, x+1):
    print(i)
    sum = sum + i
print(sum)

1
2
3
4
5
6
7
8
9
10
55

In [ ]:
sum = 0
x = int(input("Enter a number: "))
for i in range(1, x+1):
    if i % 2 == 0:
          sum = sum + i
print(sum)

30

In [ ]:
for i in range(1, 11):
    if i% 2 == 0:
        if i > 5:
            print(f"{i} is even n greater than 5")
        else:
            print(f"{i} is even less than 5")
    else:
        print(f"{i} is odd number")

1 is odd number
2 is even less than 5
3 is odd number
4 is even less than 5
5 is odd number
6 is even n greater than 5
7 is odd number
8 is even n greater than 5
9 is odd number
10 is even n greater than 5

:

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
greet("Alice")

Hello, Alice!

In [ ]:
def add(x, y):
    sum = x + y
    print(f"The sum of {x} and {y} is {sum}")

In [ ]:
add(5, 7)

The sum of 5 and 7 is 12

In [ ]:
def login(username, password):
    if username == "admin" and password == "password123":
        print("Login successful!")
    else:
        print("Invalid credentials.")

In [ ]:
login("admi", "password123")

Invalid credentials.

In [ ]:
def calculate_doiscount(price, discount):
    discount = (price * discount) / 100
    final_price = price - discount
    print(f"The final price after {discount}% discount is: {final_price}")

In [ ]:
calculate_doiscount(4500, 10)

The final price after 450.0% discount is: 4050.0

In [ ]:
def process_file(file_name, file_type):
    print("processing file:", file_name)
    print("file type:", file_type)

In [ ]:
process_file("document", "pdf")

processing file: document
file type: pdf

In [ ]:
def add(x, y):
  print(x + y)

  result = add(3, 4)
  print(result)

In [ ]:
def add(x, y):
    return x + y

result = add(3, 4)
print("result is:", result)

result is: 7

In [ ]:
def add(x, y):
    return x + y

def square(z):
    return z * z

In [ ]:
result1 = add(3, 4)
result2 = square(5)
print("Addition result:", result1)
print("Square result:", result2)

Addition result: 7
Square result: 25

In [ ]:
result = square(add(3, 4))
print("Final result is:", result)

Final result is: 49

In [ ]:
def square(x):
    return x * x

In [ ]:
result = square(3)
print("Square is:", result)

Square is: 9

In [ ]:
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [ ]:
even_or_odd(3)

'Odd'

In [4]:
def prime_check(num):
    if num <= 1:
        return "not a prime number"
    
    for i in range(2, num):
        if num % i == 0:
            return "not a prime number"
    
    return "prime number"

In [6]:
prime_check(10)

'not a prime number'

In [7]:
square = lambda x : x*x

In [8]:
square(3)

9

In [9]:
print((lambda x : x*x)(4))

16

In [31]:
def max_num(a,b,c):
    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    else:
        return c

In [33]:
max_num(80, 1, 90)

90

In [34]:
def max_ofthree(a,b,c):
    return max(a,b,c)

In [36]:
print(max_ofthree(60, 20, 15))

60

In [29]:
def square(x):
    return x * x

In [30]:
print(square(3))

9

In [37]:
def sum_avg(num1, num2, num3):
    total = num1+num2+num3
    average = total / 3
    return total, average

In [38]:
print(sum_avg(10, 20, 30))

(60, 20.0)

In [41]:
def qeu_rem(a, b):
    quotient = a / b
    remainder = a % b
    return quotient, remainder

In [42]:
print(qeu_rem(10, 3))

(3.3333333333333335, 1)

In [45]:
print((lambda j: j + 5)(4))

9

In [46]:
print((lambda x, y: x * y)(12, 2))

24

In [47]:
print((lambda num:positive))

<function <lambda> at 0x000001E49B151E40>

In [53]:
print((lambda num:"positive" if num > 0 else "negative")(-5))

negative

In [51]:
lambda num:"positive" if num > 0 else "negative"

In [65]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [70]:
print(factorial(3))

6

In [ ]:
n = int(input("Enter a number: "))
if n % 3 == 0 and n % 5 == 0:
    print("Fizzbuzz") 
elif n % 3 == 0:
    print("Fizz")
elif n % 5 == 0:          
    print("Buzz")  
else:   
    print(n)

In [1]:
numbers=[1,2,3,4,5]

In [4]:
print(numbers[4])

5

In [5]:
print(numbers[-4])

2

In [6]:
print(numbers[1 : 4])

[2, 3, 4]

In [7]:
print(numbers[:4])

[1, 2, 3, 4]

In [8]:
print(numbers[2:])

[3, 4, 5]

In [9]:
print(numbers[2:4:2])

[3]

In [11]:
145%10

5

In [12]:
145//10

14

In [13]:
14%10

4

In [14]:
14//10

1