In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in (range(10,0, -1)):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is not even")

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even

In [10]:
for i in range(3, 30, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [11]:
for i in range (1, 11, 2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(1, 11):
    if i ==7 :
        print("found")
    else:
        print(i)

1
2
3
4
5
6
found
8
9
10

In [13]:
for i in range(1, 11):
    if i ==7:
        break;
print(i)

7

In [18]:
total =0
for i in range(1, 6):
    total = total+i
    print(total)

1
3
6
10
15

In [28]:
count = 0
for i in range(1, 51):
    if i % 2 == 0:
       count += 1
print(count)

25

In [29]:
num = input("enter first number: ")
for i in range(1, int(num) + 1):
    print(i)

1
2
3
4
5

In [ ]:
num1 = input("enter first number: ")
num2 = input("enter second number: ")
for i in range(int(num1), int(num2)+1):
    print(i)

5
6
7
8
9
10

In [36]:
count = 0
for i in range(1, 51):
    if i % 2 == 0:
        count += 1
print(count)

25

In [38]:
n = input("Enter a number: ")
for i in range(1, 11):
    if i % 2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is not even")

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even

In [39]:
for i in range(0, 80):
    print(i)
    if i == 3:
        break

0
1
2
3

In [40]:
for i in range(4):
    print("printing")
    if i == 2:
        continue
    print(i)

printing
0
printing
1
printing
printing
3

In [45]:
l = (1, 2, 4, 5)
for item in l:
    pass

In [50]:
num = int(input("Enter a number: "))
for i in range(5, 50):
    print(num, " x ", i, " = ", num * i)

5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
5  x  11  =  55
5  x  12  =  60
5  x  13  =  65
5  x  14  =  70
5  x  15  =  75
5  x  16  =  80
5  x  17  =  85
5  x  18  =  90
5  x  19  =  95
5  x  20  =  100
5  x  21  =  105
5  x  22  =  110
5  x  23  =  115
5  x  24  =  120
5  x  25  =  125
5  x  26  =  130
5  x  27  =  135
5  x  28  =  140
5  x  29  =  145
5  x  30  =  150
5  x  31  =  155
5  x  32  =  160
5  x  33  =  165
5  x  34  =  170
5  x  35  =  175
5  x  36  =  180
5  x  37  =  185
5  x  38  =  190
5  x  39  =  195
5  x  40  =  200
5  x  41  =  205
5  x  42  =  210
5  x  43  =  215
5  x  44  =  220
5  x  45  =  225
5  x  46  =  230
5  x  47  =  235
5  x  48  =  240
5  x  49  =  245

In [47]:
for i in range(3, 30, 3):
    print(i)

3
6
9
12
15
18
21
24
27

In [61]:
l = {"harish", "harsha", "siri", "kiran", "suchi"}
for name in l:
    if name.startswith("s"):
        print("done with s", name)

done with s siri
done with s suchi

In [73]:
for i in range(1, 11):
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even

In [79]:
for i in range(1, 11):
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even

In [87]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Not a prime number